#bb2 div {text-align:center;}
#bb2{ width: 500px ;height: 500px;background-color:#00ff00;position:absolute;top:200px;left:200px;}
#premligne{top:20px; position:absolute;}
#dim{ left:20px;position:absolute;}
#cav{left:200px;position:absolute;}
#mba{left:400px;position:absolute;}
#desligne{top:200px;position:absolute;}
#rab{ left:60px;position:absolute;}
#ney{left:200px;position:absolute;}
#ver{left:340px;position:absolute;}
#troiligne{top:350px;position:absolute;}
#ber{ left:20px;position:absolute;}
#sil{left:120px;position:absolute;}
#mar{left:300px;position:absolute;}
#meu{left:400px;position:absolute;}
#buf{bottom:20px;left:200px;position:absolute;}